<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome!</h1>

    <a th:href="@{/user}">User Page</a> |
    
    <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')">Admin Page</a> |
    
    <a th:href="@{/logout}">Logout</a>
    
    <p sec:authorize="isAuthenticated()">You are logged in!</p>
	<p sec:authorize="!isAuthenticated()">You are not logged in.</p>
</body>
</html>
